<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="{% static 'sales/css/bootstrap.min.css' %}">

    <title>
        {% block title %}
        Sales!
        {% endblock %}
    </title>
</head>
<body class="container">
{% block body %}
<h1>Base, Body!</h1>
<h3>Nice ot meet U {{ string }}!</h3>
<h4>Do U want to see our products?  <a href="products">Let's go!</a></h4>
<h4>Do U want to see orders at this moment?  <a href="/sales/orders/">Let's move!</a></h4>
<p>{{ message }} {{ day }}</p>
{% endblock %}
</body>
</html>